body {
	text-align: center;
	background-color: #b0c6db;
	background-image: url('img/land.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.back-link {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	margin: 1rem;
	color: #000000;
	text-decoration: none;
	font-size: 1.2rem;
}

.back-link:hover {
	text-decoration: underline;
	color: #b0c6db;
}
